@import url("reset.css");

body{
	background-color: gray;
	background-image: url("../images/bg-body.jpg");
}

h1,h2,h3,h4{ font-weight: bold;  }

#main{
	background-color: white;
}

.button{
	background-color: hotpink;
	color:white;
}

blockquote p{
	font-size: italic;
}