@import url("reset.css");

body{
	background-color: gray;
	background-image: url("../images/bg-body.jpg");
}

#content p:first-of-type:first-letter{
	font-size: 4em;
}

:disabled{
	background-color: lightgray;
}

a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a:visited{
	color:black;
}

a:active{
	color:red;
}

input:focus{
	outline-color:black; 
	outline-style:dotted; 
	outline-width:1px; 
}

h1,h2,h3,h4{ font-weight: bold;  }

#main{
	background-color: white;
}

.button{
	background-color: hotpink;
	color:white;
}

blockquote p{
	font-size: italic;
}

aside > h3{
	color:green;
}

p+.offer{
	color:red;
}

p ~ h2{
	color:purple;
}

p:nth-child(1){
	background-color: lightblue;
}


input[type="text"],input[type="email"]{
	border:none;
}

input[type="submit"],input[type="button"]{
	font-size: 1em;
}
